{% extends 'base.html.twig' %}

{% block title %}Test Symfony Le Comptoir des langues{% endblock %}

{% block body %}
<h1>Test Symfony</h1>

    <div>
        <a href="{{ path('livre') }}">Liste des livres</a>
    </div>
{% endblock %}
