{% extends 'base.html.twig' %}

{% block title %}Hello LivreController!{% endblock %}

{% block body %}


<div class="ensemble-livres">



    <div class="container mt-5">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            {% for livre in livres %}
                <div class="col">
                    <div class="card" style="width: 10rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ livre.name }}</h5>
                        <p class="card-date">{{ livre.date|date('Y') }}</p>
                        <a href="#" class="btn btn-primary">En voir plus</a>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
